.timeline-item {
  text-wrap: balance;
  padding: 3em 2em 2em;
  position: relative;
  border-left: 2px solid var(--gray);

  h3 {
    font-size: 1.25rem;
    color: var(--accent-color);
    text-transform: uppercase;
    margin-bottom: 5px;
    font-family: 'IBM Plex Sans', sans-serif;
    text-wrap: pretty;
  }

  a {
    text-decoration: underline;
  }

  li {
    margin-bottom: 5px;
  }

  &::before {
    content: attr(date-is);
    position: absolute;
    left: 2rem;
    font-weight: bold;
    top: 1em;
    display: block;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 0.785rem;
    opacity: 0.5;
  }

  &::after {
    width: 20px;
    height: 20px;
    display: block;
    top: 0.5rem;
    position: absolute;
    left: -13px;
    border-radius: 20px;
    content: attr(letter-is);
    border: 2px solid var(--bg-color-is);
    background-color: var(--bg-color-is);
    color: var(--text-color-is);
    text-align: center;
    font-weight: 600;
  }

  &:last-child {
    border-image: linear-gradient(to bottom, var(--gray) 20%, rgba(transparent, 0)) 1 100%;
  }
}
