.hero {
  --bg-size: 400%;
  --color-one: rgba(0, 212, 255, 0.8);
  --color-two: rgba(191, 70, 255, 0.8);
  text-align: center;
  text-wrap: balance;
  flex-direction: column;
  margin: 5rem auto 1.25rem;
  @media (min-width: 992px) {
    margin: 6.25rem auto 2.5rem;
  }

  .greeting {
    font-size: 1.1rem;
    margin-top: 0.5rem;

    @media (min-width: 992px) {
      font-size: 2rem;
      margin: 1rem 0;
    }
  }

  h1 {
    font-family: 'IBM Plex Sans', sans-serif;
    margin-bottom: 0.6rem;
    span {
      background: linear-gradient(90deg, var(--color-one), var(--color-two), var(--color-one)) 0 0 /
        var(--bg-size) 100%;
      color: transparent;
      background-clip: text;
      -webkit-background-clip: text;
      animation: move-bg 8s infinite linear;
    }

    @media (min-width: 992px) {
      line-height: 110%;
      font-size: clamp(2rem, 25vmin, 4rem);
      margin-bottom: 1rem;
    }
  }
  img {
    width: 120px;
    height: 120px;
    object-fit: contain;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 100%;
    padding: 10px;

    @media (min-width: 992px) {
      width: 300px;
      height: 300px;
    }
  }

  a {
    font-weight: 600;
  }

  p {
    text-wrap: pretty;
    margin-bottom: 0.5rem;
    @media (min-width: 992px) {
      font-size: 1.1rem;
    }
  }
}

@keyframes move-bg {
  to {
    background-position: var(--bg-size) 0;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .title {
    animation: move-bg 16s linear infinite;
  }
  @keyframes move-bg {
    to {
      background-position: var(--bg-size) 0;
    }
  }
}
