.hero {
  text-align: center;
  text-wrap: balance;
  max-width: 1280px;
  width: 100%;
  flex-direction: column;
  text-transform: uppercase;
  margin: 100px auto 40px;

  h1 {
    font-size: 11rem;
    letter-spacing: -8px;
    line-height: 100%;
    font-family: 'IBM Plex Sans', sans-serif;
    --bg-size: 400%;
    --color-one: rgba(222, 0, 75);
    --color-two: rgba(191, 70, 255);
    --color-three: rgba(0, 212, 255);
    font-size: clamp(3rem, 25vmin, 8rem);
    background: linear-gradient(
                  90deg,
                  var(--color-one),
                  var(--color-two),
                  var(--color-three),
                  var(--color-two),
                  var(--color-one)
                ) 0 0 / var(--bg-size) 100%;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    animation: move-bg 8s infinite linear;
  }
}


.currentJob {
  display: flex;
  max-width: 800px;
  margin: 0 auto;
  justify-content: space-between;
  margin-top: 0.5rem;
  text-wrap: pretty;

  a {
    font-weight: 600;
  }
}

@keyframes move-bg {
  to {
    background-position: var(--bg-size) 0;
  }
}


@media (prefers-reduced-motion: no-preference) {
  .title {
    animation: move-bg 8s linear infinite;
  }
  @keyframes move-bg {
    to {
      background-position: var(--bg-size) 0;
    }
  }
}