.container {
  width: 100%;
  margin: 0 auto;
  max-width: 90%;

  @media (min-width: 768px) {
    max-width: 708px;
  }

  /* Medium devices (desktops, 992px and up) */
  @media (min-width: 992px) {
    // border: solid 1px purple;
    max-width: 932px;
  }

  /* Large devices (large desktops, 1200px and up) */
  @media (min-width: 1280px) {
    // border: solid 1px red;
    max-width: 1220px;
  }
}
