.link {
  --bg-size: 400%;
  --color-one: rgba(0, 212, 255,0.8);
  --color-two: rgba(191, 70, 255,0.8);

  text-transform: uppercase;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
  cursor: pointer;
  transition: scale 0.3s;
  display: flex;
  gap: 0.3rem;
  background-color: var(--accent-color);
  // color: var(--secondary-color);
  color: var(--primary-color);

  position: relative;
  overflow: hidden;
  transition: all 0.02s;
  z-index: 0;

  background: linear-gradient(
      90deg,
      var(--color-one),
      var(--color-two),
      // var(--color-three),
      // var(--color-two),
      var(--color-one)
    )
    0 0 / var(--bg-size) 100%;

    animation: move-bg 8s infinite linear;
}

@keyframes move-bg {
  to {
    background-position: var(--bg-size) 0;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .title {
    animation: move-bg 8s linear infinite;
  }
  @keyframes move-bg {
    to {
      background-position: var(--bg-size) 0;
    }
  }
}
