.header {
  display: flex;
  align-items: center;
  height: 60px;
  /* color: black; */
}

/* src/components/Navbar.module.css */

.navbar {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}
.navList {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navItem {
  margin-right: 1rem;
  /* color: white; */
  text-decoration: none;
  cursor: pointer;
}

.navItem:hover {
  text-decoration: underline;
}
