.socialIcon {
  // height     : 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.3rem;
  height: 2.3rem;
  border-radius: 100%;
  background-color: var(--primary-color);
  // opacity: 0.1;
  background: rgba(255, 255, 255, 0.06);
  transition: ease 0.3s background-color;

  svg {
    margin: 0;
    padding: 0;
    height: 1.5rem;
    width: 1.5rem;
    opacity: 1 !important;
  }

  &:hover {
    opacity: 1 !important;
    background-color: var(--hover-color-is);
  }
}
